In [2]:
import pandas as pd

df = pd.read_csv('IMDB_Top10000.csv')
df.head(5)

   Unnamed: 0                                       movie  ...   metascore    vote
0           0  Star Wars: Episode VII - The Force Awakens  ...  81          828134
1           1                          Mad Max: Fury Road  ...  90          823018
2           2                                 The Martian  ...  80          716858
3           3                     Avengers: Age of Ultron  ...  66          701951
4           4                                The Revenant  ...  76          660307

[5 rows x 13 columns]